<h1>Mis Productos</h1>

<!-- Enlaces para ordenar los productos -->
<a href="/products?page={{currentPage}}&sort=asc">Ordenar por precio ascendente</a>
<a href="/products?page={{currentPage}}&sort=desc">Ordenar por precio
  descendente</a>

{{#each productos}}
  <div class="Card">
    <p>Nombre: {{this.title}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Precio:$ {{this.price}}</p>
    <button> Comprar </button>
  </div>
{{/each}}
{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"> Anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"> siguiente</a>
{{/if}}

<p>{{currentPage}} de {{totalPages}}</p>